p {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-family-base);
}

.logo_image, 
.component_image {
    width: 30px;
    height: 30px; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90%;
  margin-top: 20px;
}

#header_left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#header_right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#parent_container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_container {
  text-align: start;
  width: 90%;
}

#tabs {
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
  background-color: var(--tertiary-color);
}

.tab-button {
  flex: 1;
  height: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  color: #000000;
}

.tab-button.active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(166, 164, 164, 0.2);
  transition: box-shadow 0.2s ease;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#available_books {
  width: 90.5%;
}

#available_books_container {
  width: 100%;
  height: 600px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
}

#available_books_title {
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
}

#users_info {
  width: 90.5%;
}

#users_container {
  width: 100%;
  height: 600px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
}

#users_title {
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
}

#transaction_logs {
  width: 90.5%;
}

#admin_logs_container {
  width: 100%;
  height: 600px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
}

#admin_logs_title {
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
}


#book_title, #users_name, #transaction_logs_details{
  padding-left: 50px;
}

#admin_logs_container, #available_books_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#users_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}